.container {
  width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.add-button {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.pop-up-header {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.popup {
  position: absolute;
  border: 1px solid black;
  width: 400px;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.margin-popup {
  padding: 10px 30px;
}

.margin-none {
  margin: 0;
}

.text-area {
  width: 100%;
  height: 100px;
}

.select-margin {
  margin: 10px 5px;
}

.overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0/80%);
}

.z-index {
  z-index: 1;
}
